<%- include ("partials/header.ejs") %>

<div class="bienvenida home">
    <h1>
        Welcome to your Organization Center
    </h1>
    <p>What do you have pending for today?</p>
</div>

<%- include ("partials/footer.ejs") %>

