<%- include ("partials/header.ejs") %>

<div class="bienvenida">
    <h2>What do you have to do today?</h2>
    <form action="/today" method="POST">
        <% for (var i = 0; i < locals.listDayLarge; i++) { %>
            <div>
                <input type="checkbox" id="checkBox" name=locals.listDay[i]>
                <label for=locals.listDay[i]><%- locals.listDay[i] %></label>
                <hr>
            </div>   
        <%} %>
        <div class="agregarItem">
            <input id="cajaTexto" type="text" name="newTask">
            <input id="agregar" type="submit" value="+">
        </div>
    </form>
</div>

<%- include ("partials/footer.ejs") %>